h3 {
  color: var(--color-accent);
}

.content {
  margin-top: 10vh;
  z-index: 1;
}

.heroTitle {
    font-size: 2rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.25rem;
    color: white;
    margin: 0 auto 2rem;
}

.analyzeContainer {
  margin: auto;
  width: 550px;
}