@import '../styles/variables.css';

.container {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBody{
    display: flex;
    justify-content: center;
    transform: translateX(120px);
}

h1 {
    color: white;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 8rem;
    font-size: 4rem;
}

.panel {
    width: 500px;
    background-color: var(--color-muted);
    border-radius: 30px;
}

.pointsContainer {
    width: 350px;
}

.pointsContainer h3 {
    margin: 0;
}

.point {
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 4rem;
    color: white;
     transform: translateX(-25px);
}

.point:nth-child(odd) {
    border: 1px solid var(--color-muted);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transform: translateX(100px);
}

.pointIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-40px, 25px);
    background-color: white;
}

.point:nth-child(odd) .pointIcon {
    background-color: var(--color-accent);
}

.actionContainer {
    margin: 4rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.actionContainer button {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s ease;
}

.actionContainer button:hover {
  background-color: white;
  color: var(--color-text);
}

.learnButton {
    background-color: var(--color-primary);
}

.readButton {
    background-color: var(--color-secondary);
}
