@import '../styles/variables.css';

.container {
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBody{
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 8rem;
    font-size: 4rem;
}

.panel {
    width: 500px;
    background-color: var(--color-muted);
    border-radius: 30px;
}

.pointsContainer {
    display: flex;
    gap: 4rem;
}

.pointsContainer h3 {
    margin: 0;
    margin-bottom: rem;
    color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: 400;
}

.point {
    flex: 1;
    margin-bottom: 2rem;
    padding: 2rem;
    color: white;
    border: 1px solid var(--color-muted);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.actionContainer {
    margin: 4rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.actionContainer button {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  transition: background-color 0.5s ease;
}

.actionContainer button:hover {
  background-color: white;
  color: var(--color-text);
}

.learnButton {
    background-color: var(--color-primary);
}

.readButton {
    background-color: var(--color-secondary);
}
