.scoreCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--color-accent) calc(var(--score) * 1%), var(--color-card) 0%);
    --score: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.scoreCircleInner {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: var(--color-card);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--color-accent);
    
}

.centered {
    position: relative;
    top: -2px;
    left: -1px;
}
