.loginContainer {
    margin: 1rem;
    display: flex;
    gap: 10px;
    background: none;
}

.loginContainer button{
    padding: 0rem 1rem;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-content: center;
}

.loginContainer button:hover{
    background-color: var(--color-accent);
    color: white;
}

.loginButton {
    background: var(--color-card);
    color: white;
}

.demoButton {
    background-color: white;
}

.welcomeWrapper{
    position: absolute;
    right: 50px;
    display: flex;
    gap: 50px;
    height: 50px;
}

.welcomeMessage {
    align-content: center;
    color: white;
}

.suggestionButton {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0rem 1.3rem;
    border: 0;
    border-radius: 10px;
    background: var(--color-card);
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.suggestionButton {
    color: white;
    text-decoration: none;
}

.suggestionButton:hover {
    background-color: var(--color-accent);
    color: white;
}