:root {
  --color-primary: #00ADB5;
  --color-secondary: #00ADB5;
  --color-accent: #00ADB5;
  --color-card: #EEEEEE;
  --color-bg-1: #222831;
  --color-bg-2: #393E46;
  --color-text: #393E46;
  --color-muted: #888888;
}
