.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black; /* fallback */
    background-image: 
        radial-gradient(circle at -20% 20%, var(--color-bg-1) 0%, transparent 25%),
        radial-gradient(circle at 100% 0%, var(--color-bg-1) 0%, transparent 60%);
}

.analyzeContainer {
    margin: auto;
    margin-top: 4rem;
}
